body{
    margin: 0px;
}

#header{
    background-image: url("../img/hero.img");
    background-size:  cover;
    height: 500px;
    color:#fff;
    text-align: center;
    font-size: 30px;
    line-height: 500px;
    text-shadow: 0px 0px 10px #000;
}
#navbar{
    width: 660px;
    box-shadow: 0px 2px 5px #000;
    margin-left: auto;
    margin-right: auto;
}
#navbar a{
    text-decoration: none;
    background-color:#fff ;
    display: block;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 2px solid #000;
    color: #000;
    float: left;
}